.idea
node_modules
src/env.generated.ts
.parcel-cache
dist
dist-discord
yarn-error.log
dist-custom
dist-preview
src/custom/
src/custom.ts
src/preview.ts
custom.html
preview.html
scripts/build-custom.sh
